<div id="mapid" style="width: 100%; height: 400px;"></div> 
<script src="/plugins/bishopm/churchnet/assets/js/leaflet.js"></script>
<script>
    var tilelayer = new L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?access_token={accessToken}', { maxZoom: 18, accessToken: '{{ __SELF__.property('token') }}' });
    var satellite = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', { maxZoom: 18 });
    var allMaps = { "Street map": tilelayer, "Satellite image": satellite };
    var featureGroup = L.featureGroup([
        {% for regional in record.regionals %}
            {% for local in regional.locals %}
                {% if local.latitude %}
                    L.marker([{{local.latitude}},{{local.longitude}}]).bindPopup('<b><a href="{{'society'|page({district:record.slug,circuit:regional.slug,society:local.slug})}}">{{local.local}}</a></b> - <a href="{{'societies'|page({district:record.slug,circuit:regional.slug})}}">{{regional.regional}}</a>'), 
                {% endif %}
            {% endfor %}
        {% endfor %}
    ]);
    var mymap = new L.Map('mapid', { 'center': [0, 0], 'zoom': 0, 'layers': [tilelayer, featureGroup] });  
    L.control.layers(allMaps).addTo(mymap);
    mymap.fitBounds(featureGroup.getBounds(), {padding: [25,25]});
</script> 